---
layout: default
title: Home
---
<ul id="hero" data-orbit>
{% for post in site.tags.slider %}
 <li>
    {% if post.category == 'course' %}
	<h4 class="subheader topic">Course info</h4>
    {% if post.category == 'Politics' %}
	<h4 class="subheader topic">News</h4>
    {% else %}
	<h4 class="subheader topic">{{ post.category | capitalize }}</h4>
    {% endif %}
	<div class="panel">
	    <h2 class="subheader"><a href="{{ post.url }}">{{ post.title}}</a> <br />
			<small>{{ post.author}}, {{ post.displaydate | date: "%B %d %Y" }}</small>
		</h2>
		<h4 class="subheader excerpt">
			<p>{{ post.excerpt }}</p>
		</h4>
	</div>
 </li>
</ul>
