---
layout: section
title: News
---
<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader">{{ page.title }}</h1>
	</div>
</div>

{% for post in site.categories.news %}
<div class="row feature">
	<div class="large-12 columns item">
	    {% if post.tags contains 'reading' %}
			<h2 class="subheader"><a href="{{ post.link }}">{{ post.title}}</a> <small>{{ post.author}}, {{ post.displaydate | date: "%B %d %Y" }}</small></h2>
	    {% else %}
			<h2 class="subheader"><a href="{{ post.url }}">{{ post.title}}</a> <small>{{ post.author}}, {{ post.displaydate | date: "%B %d %Y" }}</small></h2>
	    {% endif %}
		{{ post.excerpt }}
	    {% unless post.tags contains 'reading' %}
	      <a href="{{ post.url }}" title="read more" class="more">read more &raquo;</a>
	    {% endunless %}
		<hr>
	</div>
</div>
{% endfor %}
