---
layout: section
title: Politics
---
<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader">{{ page.title }}</h1>
	</div>
</div>

{% for post in site.categories.politics limit:3 %}
<div class="row feature">
	<div class="large-12 columns">
		<h4 class="subheader">{{ post.title}} <small>{{ post.author}} :: {{ post.displaydate | date_to_string }}</small></h4>
		<p>{{ post.excerpt }}</p>[ <a href="{{ post.url }}">More &hellip;</a> ]
		<hr>
	</div>
</div>
{% endfor %}

{% for post in site.categories.politics offset:3 %}
<div class="row list">
	<div class="large-12 columns">
		<h5 class="subheader">{{ post.title}} <small>{{ post.author}} :: {{ post.displaydate | date_to string }}</small></h5>
		[ <a href="{{ post.url }}">More &hellip;</a> ]
		<hr>
	</div>
</div>
{% endfor %}
