<hr />
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; 2013 MIT</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://web.mit.edu" target="_blank">MIT</a></li>
            <li><a href="http://hyperstudio.mit.edu/" target="_blank">HyperStudio</a></li>
            <li><a href="http://shass.mit.edu/" target="_blank">SHASS</a></li>
            <li><a href="http://cms350.com/course/about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
