    <div class="row" id="mainnav">
        <div class="large-12 columns">
            <h2 class="subheader">{{ site.name }}</h2>
            <h3 class="subheader">{{ site.description }}</h3>
            <ul class="inline-list">
                <li><a href="/">Home</a></li>
                <li><a href="/science/">Science</a></li>
                <li><a href="/politics/">Politics</a></li>
                <li><a href="/art/">Arts</a></li>
                <li><a href="/course/">Course Info</a></li>
            </ul>
        </div>
    </div>
	<hr />
