#mainnav .inline-list {
	font-size:25px;
}

.orbit-container {
  background: transparent; 
}

.orbit-slides-container {
  height:500px;
}

#hero img {
	max-width:400px;
	max-height:300px;
/*	padding: 10px;*/
	border: 3px solid #ccc;
	float: right;
	display: inline-block;
	margin: 0 30px;
	clear:all;
}

#hero {
	height:600px;
	overflow: hidden;
}

.orbit-container .orbit-prev,
.orbit-container .orbit-next {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.orbit-slides-container li {
	height:600px;
}

.orbit-slides-container li h1 {
	width:800px;
}
.orbit-slides-container li h4 {
	margin-left:30px;
}