{% include doctype.html %}
<head>
{% include head.html %}
</head>

<body>
{% include nav.html %}
  <div class="row">
    <div class="large-12 columns">
    {{ content }}
    <hr />
    </div>
  </div>
  
<div class="row">
<div class="large-4 columns">
<h5 class="subheader"><b><a href="/science">Science</a></b></h5>
<img src="http://i61.tinypic.com/xf3pdd.jpg" />
<h4 class="subheader"><b><a href="http://cms350.com/science/why-most-people-should-chill-out-about-egg-freezing.html" target="_blank">Beating the Biological Clock</a></b></h4>
<p>It’s not science fiction; it’s the ultimate family planning tool. Facebook and Apple <a href="http://www.nbcnews.com/news/us-news/perk-facebook-apple-now-pay-women-freeze-eggs-n225011">recently announced that they’ll be providing female employees with egg freezing services</a> -- a procedure that costs over $10,000 out of pocket. Though some worry about new expectations on working women, sophomore <b>Zoe Sheinkopf</b> says this is a step toward removing some of the impediments that keep more women from rising in the tech industry.</p>
</div>

<div class="large-4 columns">
<h5 class="subheader"><a href="/politics"><b>News</b></a></h5>
	<img src="http://cdn.timesofisrael.com/uploads/2014/04/000_DV1708616.jpg" />
	<h4 class="subheader"><b><a href="http://cms350.com/politics/catholic-synod-october-2014.html" target="_blank">The Appeal of Pope Francis's Accepting Spirit</a></b></h4>
	<p>A lot has changed in the Catholic Church since 2013, when Jorge Mario Bergoglio was elected as the Catholic Church’s new leader, Pope Francis. MIT sophomore <b>Scout Carpenter</b> discusses how Francis's <a href="http://www.bostonglobe.com/opinion/editorials/2014/10/17/synod-bishops-take-steps-toward-transparency-tolerance/9eoiQH13CjsJPGEXGNpeJI/story.html" target="_blank">more modern approach to issues ranging from divorce to same-sex couples</a> has the potential to appeal to a generation at risk of leaving the Church for good.</a></p>
</div>

<div class="large-4 columns">
<h5 class="subheader"><a href="/arts"><b>Features</b></a></h5>
	<img src="http://i.ytimg.com/vi/boVe9cQ3Lw0/hqdefault.jpg" />
	<h4 class="subheader"><b><a href="http://cms350.com/mit/-because-it-s-real-life-through-the-eyes-of-a-storyteller.html" target="_blank">Life Through the Eyes of a Storyteller</a></b></h4>
	<p>Comparative Media Studies/Writing's Helen Elaine Lee is one of the most respected and admired writing professors at MIT. Senior <b>Anisha Gururaj</b> examines how Lee's upbringing and family history helped chart her unlikely path from Harvard Law School to fiction writing.</p>
</div>
</div>
    
{% include footer.html %}
{% include scripts.html %}
<script>
$(document).foundation('orbit', {
    animation: 'fade',
    timer_speed: 2000,
    animation_speed: 500,
    stack_on_small: false,
    navigation_arrows: true,
    timer: false,
    bullets: false,
    slide_number: false,
    variable_height: true,
    pause_on_hover: false,
    resume_on_mouseout: true
});
</script>
</body>
</html>
